1. program to append list and pop

In [5]:
## list with append and pop operation
list1  = [10,20,30,40,50,70,80,90,120]
list1.append(60)
list1.pop(1)
list1[-2:-6:-1]

[120, 90, 80, 70]

Write a program which will find all such numbers which are divisible by 7 but are not a multiple
of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
comma-separated sequence on a single line.

In [16]:
num_div_7 = []
for num in range(2000,3201):
  if num%5 !=0 and num%7 ==0:
    num_div_7.append(num)

print(num_div_7 , end='')

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

Write a Python program to accept the user's first and last name and then getting them printed in
the the reverse order with a space between first name and last name.

In [21]:
first_name = str(input("Enter your first name "))
last_name = str(input("Enter your last name "))
print("You name is ",first_name[::-1]+" "+last_name[-1::-1])

Enter your first name Mohan
Enter your last name Sharma
You name is  nahoM amrahS

Write a Python program to find the volume of a sphere with diameter 12 cm.
Formula: V=4/3 * Ï€ * r3

In [27]:
import math
diameter = 12
r = diameter/2
V = (4/3)*math.pi*(r**3)
V

904.7786842338603

Task 2:
1.
Write a program which accepts a sequence of comma-separated numbers from console and
generate a list.

In [69]:
numbers = (input("enter the sequence by comma-separated "))
num_list = numbers.split(',')
num_newlist =[]
for num in num_list:
  num_newlist.append(int(num))
num_newlist

enter the sequence by comma-separated 20,30,60,70,87

[20, 30, 60, 70, 87]

Task2
2.
Create the below pattern using nested for loop in Python.

In [61]:
rang = int(input("enter range of pattern"))
for i in range(rang):
    for j in range(0,i+1):
      print("*",end='')
    print("")
for i in range(rang,0,-1):
    for j in range(0,i-1):
      print("*",end='')
    print("")

enter range of pattern4
*
**
***
****
***
**
*

3.
Write a Python program to reverse a word after accepting the input from the user.

In [62]:
input_word = input("enter any word")
revers_word = input_word[::-1]
revers_word

enter any wordhello

'olleh'

4.
Write a Python Program to print the given string in the format specified in the sample output.
WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
its citizens

In [68]:
str1 = """WE, THE PEOPLE OF INDIA, 
            having solemnly resolved to constitute India into a SOVEREIGN, 
                SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC 
                 and to secure to all its citizens"""
print(str1)

WE, THE PEOPLE OF INDIA,
            having solemnly resolved to constitute India into a SOVEREIGN,
                SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
                 and to secure to all its citizens